QPushButton {
    qproperty-icon: url(:/icons/add.png);
    background-color: #00bfff;
    border: 1px solid #00bfff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}